body {
        font-family: Arial, sans-serif;
        background-color: powderblue;
        margin: 20px;
    }
     
img {
    float: right;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.poem {
    text-align: center;
    margin: 20px;
}

.schedule {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 3px;
    width: 100%;
    text-align: left;
    vertical-align: top;
}

.schedule th,
.schedule td {
    border: 1px solid black;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}

.class {
    background-color: lightgreen;
}

.work {
    background-color: lightyellow;
}

.study {
    background-color: lightblue;
}

.personal {
    background-color: lightpink;
}